*{
    font-size: 25px;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
header{
    background: #BE5A38;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

header .logo{
    padding-top: 0.7em;
}

header nav {
    padding: 0.8em;
    
}

header nav  a{
    text-decoration: none;
    color: black;
    padding-right: 0.4em;
    border-radius: 25%;    
}
body {
  font-family: Arial, sans-serif;
  background: salmon;
}
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
label, input, textarea {
  display: block;
  margin-bottom: 10px;
}
textarea {
  height: 100px;
}
input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
footer {
  background-color: #BE5A38;
  padding: 10px;
  text-align: center;
  color: white;
   }
   h1{ 
    text-align: center;
   }
  
